<div class="my-container">
    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">الحالة</th>
                <th scope="col">تاريخ الرصد</th>
                <th scope="col">التفاصيل</th>
            </tr>
        </thead>
        <tbody>
            @for (record of Records; track record.id; let i = $index) {
            <tr [class.bg-row]="i % 2 == 0">
                <th scope="row">{{i+1}}</th>
                <td>{{record.status == "Unprocessed" ? "غير معالجة" : "معالجة"}}</td>
                <td>{{record.detectedTime}}</td>
                <td><a (click)="openDetails()"><i class="fa-solid fa-circle-info"></i></a></td>
            </tr>
            }
        </tbody>
    </table>
</div>