.my-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

header {
    margin: 5rem 2.5rem;
}

table {
    width: 100%;
}

thead tr {
    box-shadow: rgb(38, 77, 45) 0px 8px 30px -10px;
}

tbody tr:hover {
    transition: 0.3s;
    background-color: rgb(0, 255, 4);
    color: white;
}

.bg-row {
    background-color: rgba(0, 255, 4, 0.13);
}

th {
    padding: 1rem;

}