.detail-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.detail {
    background-color: rgba(174, 181, 165, 0.575);
    width: fit-content;
    padding: 1rem 1.5rem;
}

.content {
    width : 300px;
    height: auto;;
    border-radius: 10px;
    overflow: hidden;
}

.content > img {
    width: 100%;
}