@import "tailwindcss";

:root {
    --primary-Color: #4fd956;
    --secondary-Color: #31a83a;
}

* {
    font-family: "Cairo", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color:rgba(218, 218, 218, 0.359);
    /* padding: 2rem 0; */
}

.bg-col {
    background-color: red;
}

.bg-col1 {
    background-color: green;
}